body{
  background-image: url("coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  font-family: Tahoma, Geneva, sans-serif;
}

header{
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  opacity: 0.75;
  position: fixed;
  font-size: 35px;
  color: #4CAF50;
  padding-left: 10px;
  float:left;
  z-index: 1;
}

footer{
  text-align: center;
  position:relative;
  bottom:0;
  width:100%;
  height:25px;
  color: #4CAF50;
  font-size: 15px;
}

input{
  border: 1px solid #4CAF50;
}

label{
  display: block;
}
/*
table{
  width: 50%;
  height: auto;
  margin: 0 auto;
  border-collapse: collapse;
}

tr{
  opacity: 0.85;
  border-bottom: 1px solid #4CAF50;
}

td{
  padding-top: 10px;
  height: 150px;
  padding-bottom: 10px;
} */

tr:hover{
  border-bottom: 1px solid white;
  opacity: 1;
}

img{
  max-height: 125px;
  width: auto;
}

img:hover{
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

button{
  background-color: #4CAF50;
}

.content{
  padding: 30px;
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 30px;
  min-height: 500px;
  background-color: black;
  opacity: 0.75;
  position: relative;
}

.content input{
  height: 25px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.error{
  color:red;
  text-align:center;
  display: none;
}

input:invalid + div{
  display: block;
}

input:focus + div{
  display:none;
}

p{
  color: #4CAF50;
  font-size: 35px;
  padding-top: 15px;
  text-align: center;
}

#results{
  text-align: right;
  color:white;
}

h2{
  color: #0CAADC;
  margin-bottom: -10px;
}

a:hover{
  height: 125px;
  color: #4CAF50;
  transform: scale(1.1);
  text-decoration: underline;
}

h3{
  color: white;
  margin-bottom: -10px;
  line-height: 16px;
}

h4{
  color: #FFA500;
  text-decoration: underline;
}

h5{
  color: white;
}

.content form{
  color: grey;
  width: 400px;
  margin: 0 auto ;
  font-size: 15px;
}

.login input{
  height: 20px;
  margin-right: 10px;
  max-width: 150px;
}

#register{
  margin-top:15px;
  width: 100%;
  height: 25px;
}

#options{
  display: inline-block;
  float:right;
}

.homepageSearch input{
  width: 25%;
  height: 60px;
  background-color: black;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.60;
  margin-left: 37%;
  margin-bottom: 15%;
  margin-top: 22%;
  color: white;
  transition: 0.5s ease-in;
}

.homepageSearch input:focus{
  font-size: 25px;
  width: 50%;
  margin-left: 25%;
  transition: 0.5s ease-in-out;
}

[data-search]{
  color:#4CAF50;
}

#infoContent{
  display:none;
}

table {
  font-size: 12px;
  margin-top: 100px;
  float: right;
  background-color: transparent;

}
td{
  background: transparent;
}
#map {
  width: 60%;
  height: 500px;
}
#listing {
  position: absolute;
  width: 300px;
  height: 500px;
  overflow: auto;
  left: 500px;
  top: 155px;
  float: right;
  cursor: pointer;
  overflow-x: hidden;
}

#locationField {
  position: absolute;
  width: 50%;
  height: 25px;
  top: 0px;
  z-index: 5;
}

#autocomplete {
  width: 100%;
  margin-top: 150px;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}
.coffeeIcon {
  width: 24px;
  height: 24px;
}
#resultsTable {
  margin: 0 auto;
  color: red;
  border-collapse: collapse;
  width: 240px;
}
td{
  margin: 10px 10px 10px 10px;
  color:black;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
